body{

	background-image: url(https://i.warosu.org/data/lit/img/0065/86/1432524459879.png);  
	background-repeat: no-repeat;
	background-size: cover;
	color: aqua;
	font-family: 'Aldrich'; font-size: 18px
	line-height:1.6em;
	margin:0;


}


h1{
	color: aqua;
}

nav a.active{

	color: aqua;

}

.container-2{
	width: 80%;
	margin: auto;

}

.box-2{
	background-color:indigo;
	border: 5px purple solid;
	padding: 5px;

}

li a{
	color: aqua;
}

a:hover{

	color: purple;
}

a{

	color: white
}
#main-header{
			text-align:center;
			background-color:indigo;
			padding:10px;
		}

	

}

@media screen and (max-width: 480px) {
  

h1{
	font-size: 1.5em;
}


.container-2{
	width: 100%;

}



}