body{
	
	background-image: url(https://i.pinimg.com/originals/97/cb/2b/97cb2b1a0ac3fa2f03881a6ea74e1d56.jpg); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: aqua;
	font-family: 'Aldrich'; font-size: 18px
	line-height:1.6em;
	margin:0;

	
}


h1{
	color: aqua;
}

nav a.active{

	color: aqua;

}





li a{
	color: aqua;



}

a:hover{
	color:purple;
}

#main-header{
			text-align:center;
			background-color:indigo;
			padding:10px;
		}


		
@media screen and (max-width: 480px) {
  

h1{
	font-size: 1.5em;
}



}
